html, body, div, h1, label, form {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    background: url("images/fon.jpeg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}
.main-agileinfo {
    width: 85%;
    margin: 1.6em auto;
    background: rgba(0, 0, 0, 0.18);
    background-size: cover;
    border-radius: 30px;
}
.main {
    width: 30%;
    margin: 3em auto;
    background: linear-gradient(to top, #FADADD, #9966CC);
    background-size: cover;
    border-radius: 30px;
}
.content{
    padding: 3em;
}
h1, h2{
    color: #fff;
    text-align: center;
    padding-top: .6em;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 2.6em;
}
h2{
    font-size: 2.2em;
}
input[type="text"], input[type="email"], input[type="tel"], select {
    font-size: 0.9em;
    color: #fff;
    font-weight: 100;
    width: 100%;
    box-sizing: border-box;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgba(255, 255, 255, 0.37);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
  
.text {
    margin: 1em 0 0 0;
}
label {
    color: white;
}
.list {
    margin: 2em 0 0 0;
}
.mail label {
    font-size: 0.95em;
    color: #fff;
    font-weight: 200;
    cursor: pointer;
    position: relative;
}
.mail span {
    padding-left: 8px;
}
.errors {
    font-size: 0.9em;
    color: #E32636;
    font-style: italic;
}
.text:focus {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}
.text:focus::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: .9em;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    visibility: visible !important;
}
::-webkit-input-placeholder {
    color: #fff;
    font-weight: 100;
}
button[type="submit"] {
    font-size: .9em;
    color: #fff;
    background: #b57bec;
    outline: none;
    border: 1px solid #b57bec;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.9em;
    -webkit-appearance: none;
    width: 100%;
    margin: 2em 0 1em 0;
    letter-spacing: 1px;
}
  
button[type="submit"]:hover {
    -webkit-transition: .5s all;
    transition: .5s all;
    background: #e197fc;
}
input.checkbox {
    background: #b57bec;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
}
  
input.checkbox:before {
    content: "";
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    background: inherit;
    cursor: pointer;
}

input.checkbox:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #fff;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

input.checkbox:checked:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #fff;
    border-top-color: transparent;
    border-right-color: transparent;
}
.anim input.checkbox:checked:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: transparent;
    border-right-color: transparent;
    animation: .4s rippling .4s ease;
    animation-fill-mode: forwards;
}

@keyframes rippling {
    50% {
        border-left-color: #fff;
    }

    100% {
        border-bottom-color: #fff;
        border-left-color: #fff;
    }
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
li {
    font-size: 1em;
    color: #fff;
    font-weight: 200;
    cursor: pointer;
    position: relative;
}