body {
    background: white;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}
h3 {
    font-size: 1.3em;
    color: rgb(19, 19, 19);
    text-align: center;
    padding-top: .6em;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}
.fig{
    text-align: center;
    margin-top: 2em;
}