html, body, div, form, table {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.main {
    width: 95%;
    margin: 1em auto;
    border: 3px black solid;
}
h1{
    text-align: center;
}
.main-agileinfo {
    width: 85%;
    margin: 2em auto;
    border: 3px black solid;

}
.content{
    padding: 3em;
    text-align: justify;
}
input[type="text"], input[type="data"], select {
    font-size: 0.9em;
    font-weight: 100;
    box-sizing: border-box;
    margin-bottom: -1em;
    /* display: block; */
    padding: 0.3em;
    margin-bottom: 0.8em;
    border: solid 1px black;
    font-family: 'Roboto', sans-serif;
}
input[type="text"] {
    width: 20%;
}
select{
    margin-bottom: 0.9em;
}
input[type="data"], input[type="time"] {
    margin-bottom: 0.8em;
    margin-top: 1em;;
}
textarea {
    resize: none;
    vertical-align: middle;
}
.dur{
    vertical-align: middle;
}
button{
    box-shadow: 3px 3px 0px rgba(0,0,0);
    margin-top: 0.5em;
    border: 3px solid black;
    background-color: transparent;
    font-size: 0.9em;
}
#taskFilters {
    display: inline;
}
#task_type {
    /* display: block; */
    width: 20%;
}
.tsk {
    display: inline;
}
table {
    margin: 2em auto;
    width: 60%;
}
table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}
td , th {
    text-align: center;
}